*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.thought{
  font-family: 'Charmonman', cursive;
  font-size: 24px;
  font-weight: bold;
}
.wrapper{
width : 100%;
}
.banner{
  display: grid;
  background:#03a3df;
  grid-template-columns: 80% 20%;
}

.banner div{
  padding: 10px;
}

.banner div:nth-child(2)
{
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  color: white;
}

.nav-bar-container{
  width: 100%;
  background-color: #d9d9d9;
}
.nav-bar{
  padding: 0.5rem;
  width :40%;
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.nav-bar p{
  padding-right: 10px;
  padding-left: 10px;
  border-right: 2px solid white;
}
.nav-bar p:nth-child(5){
  padding-right: 10px;
  padding-left: 10px;
  border: 0;
}
.nav-bar p a{
  text-decoration: none;
  color: black;
}

.grid-container{
  display: grid;
  grid-template-columns: 6fr 3fr;
  margin : 2%;
  grid-gap: 10px;
}
.page-main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 8fr;
  grid-gap: 2px;
}

.page-main div:nth-child(1) {
  grid-column: 1 / 4;
  color: #00bfff;
}
.page-main div:nth-child(2){
  grid-column : 3 / 4;
  justify-self: end;
  color: #00bfff;
}
.page-main div:nth-child(3) {
  grid-column: 1 / 4;
  justify-self: center;
}
.video-class {
  position: absolute;
  left: 7%;
}
i{
  text-decoration: none;
  color:white;
}
.page-main div{
/*  border: 1px solid black;*/
  padding : 5px;
}
.page-side{
  display : flex;
  flex-direction: column;

}
.page-side div{
  /*border: 1px solid black;*/
  padding : 15px;
  color : #00bfff;
}

.page-footer-grid{
  background: url("../elements/footerImage.jpg") no-repeat;
  height:200px;
  color : white;
  padding-top: 20px;
  display : grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
  justify-items: center;

}

.page-footer-grid div:nth-child(1){
  grid-column :2 / 3;
  padding-left: 200px;
}
.page-footer-grid div:nth-child(2){
  grid-column :2 / 3;
  grid-row :2;
}
.page-footer-grid div:nth-child(3){
  grid-column :2 / 3;
  grid-row :3;
}
.page-footer-grid div:nth-child(4){
  grid-column :2 / 3;
  grid-row :4;
}
.page-footer-grid div:nth-child(5){
  grid-column :2 / 3;
  grid-row :5;
}

.footer-nav{
  width :45%;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}
.footer-nav p{
  padding-right: 5px;
  padding-left: 5px;
  border-right: 2px solid white;
}

.footer-nav p:nth-child(4){
  border: 0;
}
.footer-nav p a{
  text-decoration: none;
  color: white;
  padding-right: 10px;
  padding-left: 10px;
}

/* Lesson Stylesheet */
.lesson-grid-container{
   display : grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 30px 1fr 30px 1fr;
   grid-gap: 20px;

 }

.lesson {
  display : flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  padding : 10px;
  background : #cce6ff;
  color : #006699;
  border : 2px solid #006699;
  }

.lesson-heading{
  grid-column : 1 / 4;
  color : #006699;
}

.lesson-heading{
  grid-column : 1 / 4;
  color : #006699;
  }
button {
  background: #ff6600
}

.lesson-img{
  width : 200px;
 }
